.primary-button {
  @include textTransform(uppercase, bold);
  padding: $SPACING $SPACING * 2;
  border-radius: $BORDER-RADIUS-SMALL;
  background-color: $primary-light;
  color: $white;
  font-size: $TEXT_MEDIUM;
}

.primary-button:hover,
.icon-button:hover,
.full-width__button {
  transition: $LINEAR_TRANSITION;
  background-color: $primary-dark;
}

.icon-button {
  display: inline-flex;
  align-items: center;
  background-color: $primary-light;
  color: $white;
  border-radius: $BORDER-RADIUS-SMALL;
}

.chip-button {
  padding: $SPACING * 0.8 $SPACING;
  border-radius: $BORDER-RADIUS-LARGE;
  background-color: $primary-light;
  color: $white;
}

.full-width__button {
  @include size(100%);
  @include textTransform(uppercase, bold);
  padding: $SPACING * 1.2 0;
  border-radius: $BORDER-RADIUS-SMALL;
}

.full-width__button {
  color: $white !important;
  background-color: $primary-light;
}
