<app-main-layout>
    <section class="movies">
        <mat-tab-group>
            <mat-tab label="POPULAR">
                <ul class="movies-list">
                    <app-movie-card *ngFor="let movie of popularTvSeries" [imageUrl]="movie.imageUrl"
                        [year]="movie.year" [name]="movie.name"></app-movie-card>
                </ul>
            </mat-tab>
            <mat-tab label="TOP RATED">
                <ul class="movies-list">
                    <app-movie-card *ngFor="let movie of topRatedTvSeries" [imageUrl]="movie.imageUrl"
                        [year]="movie.year" [name]="movie.name"></app-movie-card>
                </ul>
            </mat-tab>
        </mat-tab-group>

    </section>

</app-main-layout>