<app-main-layout>
  <!-- Popular Movies-->
  <section class="section">
    <div class="section-title">
      <span class="section-title__underline-red">Popular </span>
      <span>Movies</span>
    </div>
    <app-movie-swipper-list [movies]="movies"></app-movie-swipper-list>

  </section>
  <!-- Popular Series-->
  <section class="section">
    <div class="section-title">
      <span class="section-title__underline-red">Popular </span>
      <span>Series</span>
    </div>
    <app-movie-swipper-list [movies]="movies"></app-movie-swipper-list>
  </section>
  <!-- Top Rated Movies-->
  <section class="section">
    <div class="section-title">
      <span class="section-title__underline-red">Top Rated </span>
      <span>Movies</span>
    </div>
    <app-movie-swipper-list [movies]="movies"></app-movie-swipper-list>
  </section>
  <!-- Top Rated Movies-->
  <section class="section">
    <div class="section-title">
      <span class="section-title__underline-red">Top Rated </span>
      <span>Series</span>
    </div>
    <app-movie-swipper-list [movies]="movies"></app-movie-swipper-list>
  </section>
</app-main-layout>