.header {
  @include zIndexWithPosition(relative, 0);
  @include flexbox(center, flex-start);
  @include size(100%, 100vh);

  @include responsive($PC_TABLET) {
    background-position: top;
  }

  @include responsive($TABLET) {
    background-position: top;
  }

  @include responsive($PHONE) {
    padding: 5%;
    @include size(100%, 75vh);
    background-position: top;
  }

  background-image: url("https://image.tmdb.org/t/p/original/gFkHcIh7iE5G0oVOgpmY8ONQjhl.jpg");
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  padding: 15%;
}
.header::before {
  @include position(absolute, 0, 0, 0, 0);
  content: "";
  background-image: linear-gradient(to right, $black-dark, $black-light);
  z-index: 1;
}

.header::after {
  @include position(absolute, 0, 0, 0, 0);
  content: "";
  background-image: linear-gradient(360deg, $black-dark, $black-light);
  z-index: 1;
}

.header-content {
  @include zIndexWithPosition(relative, 2);
  @include size(50%);

  @include responsive($TABLET) {
    @include size(100%);
  }

  @include responsive($PHONE) {
    @include size(100%);
  }
}

.header-content__title {
  @include responsive($PC_TABLET) {
    font-size: $TEXT_5XL;
  }

  @include responsive($TABLET) {
    font-size: $TEXT_4XL;
  }

  @include responsive($PHONE) {
    font-size: $TEXT_3XL;
  }

  color: $white;
  font-size: $TEXT_6XL;
  margin: $SPACING * 2 0;
  font-weight: bold;
}

.header-content__actions {
  @include flexbox(center, flex-start, row, $SPACING);
  margin: $SPACING * 5 0;
}

.icon-button__text {
  @include textTransform(uppercase, bold);
  padding: $SPACING;
  transform: translateX(-$SPACING * 2);
}

.icon-button__arrow {
  transform: rotate(-90deg);
}

.header-content__description {
  @include textTruncate(3);

  @include responsive($PHONE) {
    font-size: $TEXT_MEDIUM;
  }

  color: $white;
  margin-bottom: $SPACING * 4;
}
