// Mat toolbar css
mat-toolbar {
  @include flexbox(center, space-between);
  @include zIndexWithPosition(fixed, 2);
  background-color: transparent !important;
}

mat-toolbar.active {
  background-color: $black-dark !important;
  transition: $LINEAR_TRANSITION;
}
.toolbar-navigation__logo {
  font-size: $TEXT_LARGE;
  font-weight: bold;
  color: $white;
}

.toolbar-navigation {
  @include flexbox(center, flex-start, row, $SPACING * 4);

  @include responsive($PHONE) {
    gap: 0;
  }
}

.toolbar-navigation__list {
  @include flexbox(center, flex-start, row, $SPACING);

  @include responsive($PHONE) {
    display: none;
  }
}

.toolbar-navigation__list-item a {
  @include textTransform(uppercase, initial);

  @include responsive($PC) {
    font-weight: bold;
  }

  color: $white;
  font-size: $TEXT_MEDIUM;
  padding: $SPACING $SPACING * 2;
  border-radius: $BORDER-RADIUS-SMALL;
}

.toolbar-navigation__list-item a.active {
  background-color: $primary-light;
  transition: $EASE_IN_OUT_TRANSITION;
}

// Auth dialog css

.auth-dialog {
  @include flexbox(center, center, column, $SPACING * 3);
  @include position(absolute, 20%, unset, unset, 30%);
  @include size(40%, max-content);

  @include responsive($TABLET) {
    @include size(50%, max-content);
  }

  @include responsive($PHONE) {
    @include position(absolute, 20%, unset, unset, 10%);
    @include size(80%, max-content);
  }

  color: $white;
  background: $black-dark;
  padding: $SPACING * 3;
  z-index: 3;
  transition: $EASE_IN_OUT_TRANSITION;
}

.mat-dialog-content,
.mat-dialog-actions {
  @include size(100%);
  @include flexbox(center, center, column, $SPACING * 2);
}

.switch-mode {
  @include responsive($PHONE) {
    font-size: $TEXT_MEDIUM;
  }

  color: $primary-light;
  text-align: center;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
}

.disabled {
  background-color: $primary-dark;
}

// Aside navigation css
.aside {
  @include position(fixed, 0, unset, 0, 0);
  @include size(0);

  @include responsive($TABLET) {
    @include size(60%);
  }

  @include responsive($PHONE) {
    @include size(80%);
  }

  background-color: $black-dark;
  transition: $LINEAR_TRANSITION;
  z-index: 3;
  color: $white;
  padding: $SPACING * 4;
}

.aside-logo {
  @include flexbox(center, center);
  padding: $SPACING * 2 0;
}

.aside-menu__title {
  @include textTransform(uppercase, bold);
  padding: $SPACING * 2;
}

.aside-menu__list {
  @include flexbox(flex-start, center, column, $SPACING * 3);
}

.aside-menu__list li {
  @include size(100%);
  @include flexbox(center, center);
}

.aside-menu__list li a,
.aside-menu__list li button {
  @include textTransform(uppercase, initial);
  @include size(70%);
  @include flexbox(center, flex-start, row, $SPACING * 2);
  color: $white !important;
  padding: $SPACING;
  border-radius: $BORDER-RADIUS-NORMAL;
  font-size: $TEXT_MEDIUM;
}

.dark-mode__text {
  font-size: $TEXT_MEDIUM;
  font-weight: bold;
}

.aside-menu__list li a.active {
  background-color: $primary-light;
}
