<app-header-and-footer-layout>
  <div class="person-detail">
    <div class="persion-detail__profile">
      <img src="https://image.tmdb.org/t/p/w500/4jdsjY5jKwoNpCMd5nnJFsDmieY.jpg" alt="">
      <div class="person-detail__overview">
        <div class="person-detail__name">
          Letitia Wright (1993)
        </div>
        <p class="person-detail__description">Letitia Michelle Wright (born 31 October 1993) is a Guyanese-British
          actress. Beginning her professional career in 2011, she has played roles in several British TV series,
          including Top Boy (2011), Coming Up (2013), Chasing Shadows (2014), Humans (2016), the Doctor Who episode
          "Face the Raven" (2015) and the Black Mirror episode "Black Museum" (2017); for the latter, she received a
          Primetime Emmy Award nomination for Outstanding Supporting Actress in a Limited Series or Movie. The British
          Academy of Film and Television Arts named Wright among the 2015 group of BAFTA Breakthrough Brits for her role
          in the award-winning film Urban Hymn (2015). In 2018, she achieved global recognition for her portrayal of
          Shuri in the Marvel Cinematic Universe film Black Panther. She reprised the role in Avengers: Infinity War
          (2018), Avengers: Endgame (2019) and Black Panther: Wakanda Forever (2022). In 2019, she received the BAFTA
          Rising Star Award. Description above is from the Wikipedia article Letitia Wright, licensed under CC-BY-SA,
          full list of contributors on Wikipedia.</p>
      </div>
    </div>
    <ul class="person-detail__medias">
      <div class="text-border-red">Medias</div>
      <div class="movies-list">
        <app-movie-card *ngFor="let movie of movies" [imageUrl]="movie.imageUrl" [year]="movie.year"
          [name]="movie.name"></app-movie-card>
      </div>
    </ul>
  </div>
</app-header-and-footer-layout>