<app-header-and-footer-layout>
  <div class="person-detail">
    <div class="persion-detail__profile">
      <img [src]="person?.avatar" alt="">
      <div class="person-detail__overview">
        <div class="person-detail__name">
          {{person?.name}} ({{person?.birthday}})
        </div>
        <p class="person-detail__description">{{person?.biography}}</p>
      </div>
    </div>
    <ul class="person-detail__medias">
      <div class="text-border-red">Medias</div>
      <div class="movies-list">
        <app-movie-card *ngFor="let movie of personMovies" [imageUrl]="movie.imageUrl" [year]="movie.year"
          [movieId]="movie.id" [name]="movie.name"></app-movie-card>
      </div>
    </ul>
  </div>
</app-header-and-footer-layout>