<div class="header" style="background-image: url({{imageUrl}});">
    <div class="header-content">
        <div class="header-content__title">{{name}}</div>
        <div class="header-content__actions">
            <button *ngFor="let genre of genres" class="chip-button">{{genre.name}}</button>
        </div>
        <p class="header-content__description">{{overview}}</p>
        <a [routerLink]="['/media', id]" class="icon-button">
            <button mat-icon-button class="icon-button__arrow">
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <span class="icon-button__text">Watch now</span>
        </a>
    </div>
</div>