@import "abstracts/colors";
@import "abstracts/mixin";
@import "abstracts/variables";
@import "abstracts/media-query";

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-size-adjust: 100%;
}

body {
  background-color: $black-dark;
}

body::-webkit-scrollbar {
  @include size($spacing);
}

body::-webkit-scrollbar-track {
  background-color: $white;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, $primary-dark, $primary-light);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

mat-icon {
  color: $white;
}

input,
input:focus {
  outline: none;
  border: 0;
}

.form-control {
  @include size(100%);
  padding: $spacing * 1.5 $spacing * 2;
  border-radius: calc($spacing / 2);
  background-color: transparent;
  border: 1px solid $gray;
  color: $white;
}

.form-control:focus {
  border: 1px solid $gray;
}

.hidden-scrollbar {
  height: 100vh;
  overflow: hidden;
}

.backdrop {
  @include position(absolute, 0, 0, 0, 0);
  @include size(100%, 100%);
  background: rgba(0, 0, 0, 0.85);
  z-index: 2;
}

.text-red {
  color: $primary-light;
}

.movies {
  color: $white;
  padding: 0 2% 2% 2%;

  @include responsive($PC) {
    padding: 0 10% 2% 10%;
  }
  @include responsive($PHONE) {
    padding: 0 2% 10% 2%;
  }
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing;

  @include responsive($TABLET) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include responsive($PHONE) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Styles for tab labels */
::ng-deep .mdc-tab__text-label {
  color: $white !important;
}

::ng-deep .mat-mdc-tab-labels {
  gap: $spacing;
  width: max-content;
  margin: $spacing * 4 0 $spacing * 4 auto;
  border-bottom: none;
  @include responsive($TABLET) {
    margin: $spacing * 4 auto;
  }

  @include responsive($PHONE) {
    margin: $spacing * 4 auto;
  }
}

::ng-deep .mat-mdc-tab-body-content {
  overflow: hidden !important;
  margin-top: $spacing * 2;
}

::ng-deep .mat-mdc-tab-body {
  overflow: hidden !important;
}

::ng-deep .mdc-tab.mat-mdc-tab {
  @include flexbox(center, center);
  background-color: transparent;
  border-radius: calc($spacing / 2);
  padding: $spacing * 1.2 $spacing * 1.2 !important;
}

/* Styles for the active tab label */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  padding: calc($spacing / 2);
  color: $primary-light;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $white; // add styles properties here
}
.mdc-tab.mat-mdc-tab.mat-mdc-focus-indicator.mdc-tab--active.ng-star-inserted.mdc-tab-indicator--active {
  background-color: $primary-light;
}
.mdc-tab.mat-mdc-tab.mat-mdc-focus-indicator {
  font-size: $spacing * 1.2 !important;
  font-weight: bold;
}
.mdc-tab-indicator__content.mdc-tab-indicator__content--underline {
  border: none !important;
}

.gallery-thumbs {
  height: 200px;
  box-sizing: border-box;
  padding: 10px 0;
  overflow-y: hidden;
  overflow-x: auto;
}
