html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-size-adjust: 100%;
}

body {
  background-color: $black-dark;
}

body::-webkit-scrollbar {
  @include size($SPACING);
}

body::-webkit-scrollbar-track {
  background-color: $white;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, $primary-dark, $primary-light);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: $BORDER_ZERO;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

mat-icon {
  color: $white;
}

input,
input:focus {
  outline: none;
  border: $BORDER_ZERO;
}

.form-control {
  @include size(100%);
  padding: $SPACING * 1.5 $SPACING * 2;
  border-radius: $BORDER-RADIUS-SMALL;
  background-color: transparent;
  border: $BORDER-GRAY;
  color: $white;
}

.form-control:focus {
  border: $BORDER-GRAY;
}

.hidden-scrollbar {
  height: 100vh;
  overflow: hidden;
}

.backdrop {
  @include position(absolute, 0, 0, 0, 0);
  @include size(100%, 100%);
  background: rgba(0, 0, 0, 0.85);
  z-index: 2;
}

.text-red {
  color: $primary-light;
}

.movies {
  color: $white;
  padding: 0 2% 2% 2%;

  @include responsive($PC) {
    padding: 0 10% 2% 10%;
  }
  @include responsive($PHONE) {
    padding: 0 2% 10% 2%;
  }
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $SPACING;

  @include responsive($TABLET) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include responsive($PHONE) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.text-border-red {
  @include textTransform(uppercase, bold);
  font-size: $TEXT_2XL;
  padding: 0 $SPACING * 5 $SPACING 0;
  border-bottom: calc($SPACING / 2) solid $primary-light;
  width: max-content;
  color: $white;
}
.container {
  @include size(100%, 100vh);
  overflow-y: hidden;
}
.loading-sreen {
  @include flexbox(center, center);
  @include size(100%, 100%);
}
mat-progress-bar {
  // @include position($SPACING * 6.4, unset, unset, unset);
  transform: translateY($SPACING * 6.4) !important;
}
