.movie-banner {
  @include zIndexWithPosition(relative, 0);
  @include size(100%, 60vh);
  margin-bottom: 40%;

  @include responsive($PC_TABLET) {
    background-position: top;
    @include size(100%, 60vh);
    margin-bottom: 40%;
  }

  @include responsive($TABLET) {
    background-position: top;
    @include size(100%, 40vh);
    margin-bottom: 60%;
  }

  @include responsive($PHONE) {
    @include size(100%, 40vh);
    margin-bottom: 60%;
    background-position: top;
  }

  // @include responsive($PC) {
  //   padding: 2% 10%;
  // }

  object-fit: cover;
  background-size: cover;
  background-position: top;
  padding: 2%;
}

.movie-banner::before {
  @include position(absolute, 0, 0, 0, 0);
  content: "";
  background-image: linear-gradient(to right, $black-dark, $black-light);

  @include responsive($PC_TABLET) {
    background-image: none;
  }

  @include responsive($TABLET) {
    background-image: none;
  }

  @include responsive($PHONE) {
    background-image: none;
  }

  z-index: 1;
}

.movie-banner::after {
  @include position(absolute, 0, 0, 0, 0);
  content: "";
  background-image: linear-gradient(to top, $black-dark, $black-light);
  z-index: 1;
}

.movie-header {
  @include zIndexWithPosition(relative, 5);
  color: $white;
  @include flexbox(flex-start, center, row, $SPACING * 2);
  margin-top: 10%;

  @include responsive($TABLET) {
    @include flexbox(flex-start, center, column, $SPACING * 2);
  }

  @include responsive($PHONE) {
    @include flexbox(flex-start, center, column, $SPACING * 2);
  }
}

.movie-header__poster {
  @include size(40%, 95vh);

  @include responsive($PC_TABLET) {
    @include size(35%, 70vh);
  }

  @include responsive($TABLET) {
    @include size(35%, 50vh);
    margin: 0 auto;
  }

  @include responsive($PHONE) {
    @include size(35%, 40vh);
    margin: 0 auto;
  }
}

.movie-header__content {
  @include flexbox(flex-start, space-around, column, $SPACING * 3);
  @include size(60%, 70vh);

  @include responsive($TABLET) {
    @include size(100%, max-content);
  }

  @include responsive($PHONE) {
    @include size(100%, max-content);
  }
}

.movie-header__content-title {
  @include textTransform(uppercase, bold);
  font-size: $TEXT_4XL;
  line-height: $LINE_HEIGHT;

  @include responsive($PC_TABLET) {
    font-size: $TEXT_LARGE;
  }

  @include responsive($TABLET) {
    font-size: $TEXT_LARGE$TEXT_LARGE;
  }

  @include responsive($PHONE) {
    font-size: $TEXT_LARGE;
  }
}

.movie-header__content-actions {
  @include flexbox(center, center, row, $SPACING * 2);
}

.movie-header__content-actions button:first-child mat-icon {
  color: $primary-light;
}

.movie-header__content-footer {
  @include size(100%);
}

.movie-header__content-casts {
  @include flexbox(center, center, row, $SPACING);
  @include size(100%, 20vh);
  margin-top: $SPACING * 5;
}

.movie-header__content-cast-avt {
  @include size(100%, 20vh);
  position: relative;
  object-fit: cover;
  background-size: cover;
  background-position: center center;
}

.movie-header__content-cast-name {
  @include position(absolute, unset, 0, 0, 0);
  @include textTruncate(1);
  background-color: $black-medium;
  padding: $SPACING 0;
  text-align: center;
  color: $white !important;
}

.movie-video {
  margin: 5% 0;
  // padding: 0 2%;

  height: auto;

  @include responsive($PC) {
    margin-top: 60vh;
  }

  @include responsive($PHONE) {
    margin-top: 90vh;
  }

  @include responsive($TABLET) {
    margin-top: 100vh;
  }
}

.spacing {
  margin: 3% 0;
}

.movie-related,
.movie-review {
  margin: 3% 0;
}

.movie-review__card {
  @include flexbox(flex-start, center, row, $SPACING);
  color: $white;
  margin-bottom: 5%;

  & > .movie-review__card-image {
    @include size(5%);

    & > img {
      @include size($SPACING * 5, $SPACING * 5);
      border-radius: 50%;
      background-size: cover;
    }
  }

  & > .movie-review__card-content {
    @include size(95%);
    @include textTruncate(4);
    cursor: pointer;

    &.active {
      @include textTruncate(unset !important);
    }

    & > .movie-review__card-author {
      @include textTransform(unset, bold);
    }

    & > .movie-review__card-createAt {
      margin: $SPACING 0;
    }
  }
}

#youtube1 {
  margin-left: 5%;
}
