@import "layouts/header";
@import "abstracts/mixin";
@import "abstracts/variables";
@import "base/base";
.movie-banner {
  @include zIndexWithPosition(relative, 0);
  @include size(100%, max-content);
  @include responsive($PC_TABLET) {
    background-position: top;
    @include size(100%, 40vh);
  }
  @include responsive($TABLET) {
    background-position: top;
    @include size(100%, 40vh);
  }
  @include responsive($PHONE) {
    @include size(100%, 40vh);
    background-position: top;
  }
  background-image: url("https://image.tmdb.org/t/p/original/gFkHcIh7iE5G0oVOgpmY8ONQjhl.jpg");
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  padding: 2%;
}

.movie-banner::before {
  @include position(absolute, 0, 0, 0, 0);
  content: "";
  background-image: linear-gradient(to right, $black-dark, $black-light);
  @include responsive($PC_TABLET) {
    background-image: none;
  }

  @include responsive($TABLET) {
    background-image: none;
  }

  @include responsive($PHONE) {
    background-image: none;
  }
  z-index: 1;
}

.movie-banner::after {
  @include position(absolute, 0, 0, 0, 0);
  content: "";
  background-image: linear-gradient(to top, $black-dark, $black-light);
  z-index: 1;
}

.movie-header {
  @include zIndexWithPosition(relative, 5);
  color: $white;
  @include flexbox(flex-start, center, row, $spacing * 2);
  margin-top: 10%;
  @include responsive($TABLET) {
    @include flexbox(flex-start, center, column, $spacing * 2);
  }
  @include responsive($PHONE) {
    @include flexbox(flex-start, center, column, $spacing * 2);
  }
}
.movie-header__poster {
  @include size(40%, 95vh);

  @include responsive($PC_TABLET) {
    @include size(35%, 70vh);
  }
  @include responsive($TABLET) {
    @include size(35%, 50vh);
    margin: 0 auto;
  }
  @include responsive($PHONE) {
    @include size(35%, 40vh);
    margin: 0 auto;
  }
}
.movie-header__content {
  @include flexbox(flex-start, flex-start, column, $spacing * 3);
  @include size(60%, max-content);
  @include responsive($TABLET) {
    @include size(100%, max-content);
  }
  @include responsive($PHONE) {
    @include size(100%, max-content);
  }
}
.movie-header__content-title {
  @include textTransform(uppercase, bold);
  font-size: $spacing * 4;
  line-height: $spacing * 5;
  @include responsive($PC_TABLET) {
    font-size: $spacing * 2.4;
  }
  @include responsive($TABLET) {
    font-size: $spacing * 2.4;
  }
  @include responsive($PHONE) {
    font-size: $spacing * 2.4;
  }
}
.movie-header__content-actions {
  @include flexbox(center, center, row, $spacing * 2);
}
.movie-header__content-actions button:first-child mat-icon {
  color: $primary-light;
}
.movie-header__content-footer {
  @include size(100%);
}
.movie-header__content-casts {
  @include flexbox(center, center, row, $spacing);
  @include size(100%, 20vh);
  margin-top: $spacing * 5;
}
.movie-header__content-cast {
  @include size(100%, 20vh);
  object-fit: cover;
  background-size: cover;
  background-position: center center;
  background-image: url("https://image.tmdb.org/t/p/w500/blKKsHlJIL9PmUQZB8f3YmMBW5Y.jpg");
}
.text-border-red {
  @include textTransform(uppercase, bold);
  font-size: $spacing * 2;
  padding: 0 $spacing * 5 $spacing 0;
  border-bottom: calc($spacing / 2) solid $primary-light;
  width: max-content;
  color: $white;
}
.movie-video {
  margin: 5% 0;
  padding: 0 2%;
  height: auto;
  @include responsive($PC) {
    margin-top: 60vh;
  }
  @include responsive($PHONE) {
    margin-top: 90vh;
  }
  @include responsive($TABLET) {
    margin-top: 100vh;
  }
}
.spacing {
  margin: 3% 0;
}
.movie-related {
  padding: 0 2%;
  margin: 3% 0;
}
#youtube1 {
  margin-left: 5%;
}
