<div class="header">
  <div class="header-content">
    <div class="header-content__title">Black Panther: Wakanda Forever 2022</div>
    <div class="header-content__actions">
      <button class="chip-button">Action</button>
      <button class="chip-button">Adventure</button>
    </div>
    <p class="header-content__description">Queen Ramonda, Shuri, M’Baku, Okoye and the Dora Milaje fight to protect
      their nation from intervening world powers in the wake of King T’Challa’s death. As the Wakandans strive to
      embrace their next chapter, the heroes must band together with the help of War Dog Nakia and Everett Ross and
      forge a new path for the kingdom of Wakanda.</p>
    <button class="icon-button">
      <button mat-icon-button class="icon-button__arrow">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <span class="icon-button__text">Watch now</span>
    </button>
  </div>
</div>