<app-header-and-footer-layout>
  <div class="movie-banner" style="background-image: url({{movie?.backdropUrl}})">
    <div class="movie-header">
      <img class="movie-header__poster" src={{movie?.posterUrl}} />
      <div class="movie-header__content">
        <div class="movie-header__content-title">
          {{movie?.name}}
        </div>
        <div class="movie-header__content-actions">
          <button *ngFor="let genre of movie?.genres" class="chip-button">{{genre?.name}}</button>
        </div>
        <p class="movie-header__content-description">
          {{movie?.overview}}
        </p>
        <div class="movie-header__content-actions">
          <button mat-icon-button>
            <mat-icon>favorite_border</mat-icon>
          </button>
          <button class="icon-button">
            <button mat-icon-button class="icon-button__arrow">
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <span class="icon-button__text">Watch now</span>
          </button>
        </div>
        <div class="movie-header__content-footer">
          <div class="text-border-red">CAST</div>

          <swiper [config]="castConfig">
            <ng-template swiperSlide>
              <div class="movie-header__content-cast"></div>
            </ng-template>

            <ng-template swiperSlide>
              <div class="movie-header__content-cast"></div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="movie-header__content-cast"></div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="movie-header__content-cast"></div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="movie-header__content-cast"></div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="movie-header__content-cast"></div>
            </ng-template>
          </swiper>
        </div>
      </div>
    </div>
  </div>
  <div class="movie-video">
    <div class="text-border-red spacing">MOVIES</div>
    <swiper [config]="config">
      <ng-template swiperSlide *ngFor="let video of movie?.videos; let index = index">
        <iframe id='youtube{{index}}' width="90%" height="500"
          src='https://www.youtube-nocookie.com/embed/{{video.key}}' title='{{video.name}}' frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </ng-template>
    </swiper>
  </div>
  <div class="movie-related">
    <div class="text-border-red spacing">you may also like</div>

    <app-movie-swipper-list [movies]="movie"></app-movie-swipper-list>
  </div>
</app-header-and-footer-layout>