@mixin flexbox($align-item, $justify-content, $flex-direction: "row", $gap: 0) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
  gap: $gap;
}

@mixin zIndexWithPosition($position, $z-index) {
  position: $position;
  z-index: $z-index;
}

@mixin size($width: unset, $height: unset) {
  width: $width;
  height: $height;
}

@mixin position($position,
  $top: unset,
  $right: unset,
  $bottom: unset,
  $left: unset) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin textTruncate($webkit-line-clamp) {
  display: -webkit-box;
  -webkit-line-clamp: $webkit-line-clamp;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

@mixin textTransform($text-transform: uppercase, $font-weight: initial) {
  text-transform: $text-transform;
  font-weight: $font-weight;
}